.statusbar {
  background-color: green;
  position: relative;

  max-width: 30%;
  width: 500px;

  &__name {
    padding: 0;
    margin: 0;
  }

  &__indicate {
    width: 100%;
  }

  &__indicate_high {
    background-color: #0f0;
  }

  &__indicate_normal {
    background-color: #b0ff00;
  }

  &__indicate_low {
    background-color: #ffc400;
  }

  &__indicate_critical {
    background-color: red
  }
}

.hrunogochi {
  //background: url(./images/mokona.jpg) center no-repeat;
  //background-size: contain;
  margin-left: auto;

  width: 100%;
  height: 500px;
}

.restart,
.feed,
.sleep,
.speak {
  background-color: #ffc400;
  color: #000080;
}

