<!DOCTYPE html>
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{page.title}}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg.js"></script>

    <link rel="stylesheet" href="index.css">
</head>
<body>
    <p>
        К сожалению, попав в руки великого художника(меня), Хрюндель не поверил своему счастью и его сердце не выдержало.
        Пришлось заменить его Моконой. Ох уж этот суровый мир искусства...
    </p>
    <div class="wrapper"></div>
    <svg class="hrunogochi" xmlns="http://www.w3.org/2000/svg" width="228.6" height="240" viewBox="0 0 228.60001 240">
        <g id="mokona">
        <g id="legs" stroke="#000">
            <path id="left_leg" d="m 81.598868,191.70057 c 0,0 -7.2696,7.27217 -10.282486,11.41243 -1.946219,2.67446 -3.629982,5.5643 -4.971751,8.58757 -1.29979,2.92869 -2.442246,5.98694 -2.937853,9.15254 -0.658319,4.2049 0,12.76836 0,12.76836 0,0 4.77772,-0.50164 7.118644,-1.01695 3.072296,-0.67631 6.115256,-1.55215 9.039547,-2.71186 0.861183,-0.34153 1.704033,-0.74595 2.485876,-1.24294 2.511932,-1.59674 4.80621,-3.53127 7.00565,-5.53673 2.42139,-2.20783 4.653084,-4.62558 6.77966,-7.11864 2.459085,-2.88287 6.892655,-9.03955 6.892655,-9.03955" fill="none"/>
            <path id="right_leg" d="m 141.01695,202.93789 c 0,0 6.6989,1.30972 10.0565,1.9209 1.95555,0.35597 3.89531,0.84683 5.87571,1.01695 3.60255,0.30946 7.23485,0.15237 10.84745,0 2.68135,-0.11309 5.35632,-0.37237 8.0226,-0.67796 2.60894,-0.29902 5.22562,-0.59515 7.79661,-1.12995 3.784,-0.78712 11.18644,-3.05084 11.18644,-3.05084 0,0 -3.14083,-4.07843 -4.97175,-5.87571 -1.87228,-1.83787 -3.89811,-3.54786 -6.10169,-4.97175 -2.12214,-1.37127 -4.40997,-2.51322 -6.77966,-3.38983 -2.76734,-1.02371 -5.70372,-1.52273 -8.58757,-2.1469 -2.24556,-0.48602 -4.51523,-0.85425 -6.77967,-1.24293 -0.93985,-0.16132 -2.82485,-0.45198 -2.82485,-0.45198" fill="none"/>
        </g>

        <g id="body" stroke="#000">
            <path id="right_hand" d="m 173.17514,132.88136 c 0,0 7.08356,-0.62397 10.39548,-1.80791 3.74808,-1.33986 7.65333,-2.99059 10.39548,-5.87571 2.08877,-2.19768 4.55346,-5.14278 4.0678,-8.13559 -0.30716,-1.89282 -2.27116,-3.39759 -4.0678,-4.0678 -1.98124,-0.73907 -4.21442,0.3766 -6.32768,0.45198 -3.76409,0.13426 -7.6061,0.73867 -11.29944,0 -1.92054,-0.38411 -5.42373,-2.25989 -5.42373,-2.25989" fill="none"/>
            <path id="right_ear" d="M119.052 49.905s14.111 3.276 21.243 4.52c6.591 1.148 13.249 1.88 19.887 2.711 5.267.66 10.52 1.506 15.82 1.808 6.317.36 12.66.231 18.983 0 6.189-.226 12.415-.375 18.53-1.356 2.454-.393 4.766-1.504 7.232-1.808 1.645-.202 3.9-1.264 4.972 0 1.185 1.399.002 3.83-.904 5.424-1.268 2.23-3.76 3.522-5.876 4.972a56.343 56.343 0 0 1-9.943 5.424c-3.777 1.592-7.775 2.622-11.752 3.615-4.615 1.154-9.284 2.18-14.01 2.712-4.495.507-9.038.48-13.56.452-3.318-.02-9.944-.452-9.944-.452" fill="#fff" fill-rule="evenodd"/>
            <ellipse id="torso" cx="115.939" cy="130.169" rx="56.916" ry="79.967" fill="#fff" stroke="#000" stroke-width="2" stroke-linecap="square" stroke-dashoffset="60"/>
            <path id="left_hand" d="M64.678 140.94s-7.347 9.625-8.135 15.367c-.483 3.513-.455 8.113 2.26 10.395 2.77 2.33 7.612 2.073 10.847.452 3.1-1.554 4.44-5.43 5.876-8.587 1.74-3.826 3.163-12.204 3.163-12.204" fill="#fff" fill-rule="evenodd"/>
            <path id="left_ear" d="M96.915 70.653s-5.302 6.14-8.135 9.04c-5.065 5.183-10.042 10.539-15.82 14.914-5.602 4.243-11.797 7.697-18.079 10.848-5.677 2.847-11.432 5.83-17.627 7.231-5.298 1.199-10.857 1.347-16.27.904-4.154-.34-8.596-.627-12.204-2.711-2.124-1.227-4.967-2.972-4.972-5.424-.005-2.24 2.614-3.796 4.52-4.972 3.328-2.054 7.565-2 11.3-3.164 4.866-1.516 9.762-2.999 14.462-4.972 4.35-1.825 8.47-4.154 12.656-6.327 5.923-3.075 12.023-5.868 17.627-9.492 4.782-3.092 8.914-7.1 13.56-10.395 4.26-3.023 8.491-6.142 13.107-8.588 3.46-1.834 7.158-3.202 10.847-4.52 2.962-1.058 9.04-2.711 9.04-2.711" fill="#fff" fill-rule="evenodd"/>
            <g id="face" stroke="#000">
                <g id="close_eyes">
                    <path id="right_close_eye" d="m 142.89266,108.47458 c 8.13559,-4.0678 4.82691,-3.58035 7.68361,-4.0678 3.00348,-0.51249 9.03955,1.35593 9.03955,1.35593" fill="none"/>
                    <path id="left_close_eye" d="m 92.983051,107.57062 c 0,0 8.631219,-3.57089 13.107349,-3.16384 4.43317,0.40314 12.20339,5.42373 12.20339,5.42373 l -0.45198,0" fill="none"/>
                </g>
                <g id="eyelids" stroke="none">
                    <path id="left_eyelid" d="M84.75 90.38l3.75-.057 5.125-.053 4.75-.02s3.875.007 4.25.013c.375.007 4 .037 4 .037l5 .09 4.25.103 1.125.103.875.073.5.053-11.75.153h-4.75l-15.625-.303z" fill="#fff" fill-rule="evenodd"/>
                    <path id="right_eyelid" d="M165.25 90.76l-2.625.17-13 .32-5.875-.004-8.875-.243L138 90.76l6.125-.2L152 90.5l6.875.081z" fill="#fff" fill-rule="evenodd"/>
                </g>
                <g id="open_eyes" stroke="none" opacity="0">
                    <g id="left_open_eyes" transform="translate(31.293 59.37) scale(.27711)">
                        <path d="M312.683 171.818s-2.508-9.068-4.356-13.379c-2.322-5.416-4.745-10.934-8.4-15.556-4.739-5.992-10.776-10.979-17.113-15.245-6.232-4.197-13.007-7.86-20.223-9.957-8.314-2.415-17.183-3.36-25.823-2.8-6.602.428-13.13 2.254-19.29 4.667-7.522 2.948-21.157 11.823-21.157 11.823l-1.556.311 6.534 14.623s2.41-2.374 3.734-3.422c2.458-1.946 5.114-3.635 7.778-5.29 2.327-1.445 4.592-3.076 7.156-4.044 3.768-1.422 7.843-1.873 11.823-2.489 3.09-.478 6.211-1.1 9.333-.933 4.55.242 8.948 1.738 13.379 2.8 3.865.926 7.813 1.656 11.512 3.111 3.928 1.545 7.464 3.945 11.2 5.911 4.146 2.183 8.484 4.032 12.445 6.534 3.507 2.216 6.933 4.626 9.956 7.467 2.68 2.52 4.822 5.558 7.156 8.4 2.015 2.454 5.912 7.468 5.912 7.468z" fill="#b3b3b3" fill-rule="evenodd"/>
                        <path d="M311.616 171.818s-2.022-8.873-3.734-13.068c-2.138-5.242-4.827-10.306-8.089-14.934-3.13-4.442-6.663-8.717-10.89-12.134-7.621-6.163-16.271-11.352-25.512-14.623-6.14-2.173-12.777-3.073-19.29-3.111-7.025-.041-14.116 1.09-20.845 3.111-9.42 2.83-26.757 12.445-26.757 12.445l-1.867 1.245 8.09 21.468" fill="none" stroke="#000"/>
                        <path d="M259.791 115.815s-7.191 6.163-9.956 9.956c-2.541 3.486-4.225 7.541-5.911 11.512-1.757 4.135-3.53 8.34-4.356 12.756-.935 4.999-1.202 10.192-.622 15.245.71 6.2 2.174 12.47 4.978 18.045 2.423 4.82 9.956 12.757 9.956 12.757l17.423.622s6.338-3.558 8.711-6.223c2.995-3.362 4.964-7.603 6.534-11.823 1.404-3.774 1.896-7.839 2.489-11.822.521-3.502.998-7.04.933-10.579-.09-5.016-1.1-9.976-1.866-14.934-.612-3.96-2.178-11.823-2.178-11.823s-7.602-5.856-11.823-8.089c-4.529-2.395-14.312-5.6-14.312-5.6z" fill="#1a1a1a" fill-rule="evenodd"/>
                        <path d="M218.722 179.596s8.691 6.772 13.379 9.645c3.48 2.133 7.094 4.099 10.89 5.6 2.105.833 6.533 1.867 6.533 1.867l26.757.622s7.743-.664 11.511-1.556c3.735-.883 10.89-3.733 10.89-3.733" fill="none" stroke="#000"/>
                        <ellipse ry="17.89" rx="6.689" cy="155.483" cx="265.858"/>
                        <path d="M252.946 156.261l-6.222 8.712s.933 7.121 1.866 10.578c.548 2.027 1.099 4.11 2.178 5.912a20.165 20.165 0 0 0 4.978 5.6c2.21 1.693 4.7 3.444 7.467 3.733 2.452.257 4.964-.74 7.156-1.866 2.161-1.112 4.143-2.723 5.6-4.667 1.56-2.082 2.326-4.677 3.112-7.156.928-2.928 1.867-9.023 1.867-9.023l.31-2.489-3.422-4.667s-.438 5.483-1.244 8.09c-.85 2.747-1.966 5.509-3.734 7.778-.995 1.278-2.309 2.339-3.733 3.11-1.24.673-2.634 1.219-4.045 1.245-1.61.03-3.31-.378-4.667-1.244-1.365-.872-2.26-2.356-3.111-3.734-.952-1.54-1.583-3.267-2.178-4.978-.67-1.924-1.225-3.9-1.556-5.911-.489-2.975-.622-9.023-.622-9.023z" fill="#999" fill-rule="evenodd"/>
                        <ellipse ry="5.134" rx="4.822" cy="135.882" cx="278.614" fill="#fff"/>
                    </g>
                    <g id="right_open_eyes" transform="matrix(.2798 0 0 .2798 25.203 57.13)">
                        <path d="M392.7 172.81s2.733-5.747 4.18-8.58c2.193-4.295 4.186-8.72 6.82-12.76 3.052-4.682 6.365-9.27 10.34-13.2a56.255 56.255 0 0 1 11.22-8.58c4.062-2.363 8.396-4.465 12.98-5.5 4.94-1.116 10.129-1.03 15.18-.66 3.873.284 7.712 1.113 11.44 2.2 4.014 1.17 7.951 2.691 11.66 4.62 2.96 1.54 5.703 3.483 8.36 5.5 3.022 2.295 5.872 4.822 8.58 7.48 1.482 1.455 4.18 4.62 4.18 4.62l-6.6 12.98s-2.387-3.744-3.74-5.5a53.596 53.596 0 0 0-4.4-5.06c-1.171-1.18-2.463-2.235-3.74-3.3-2.366-1.973-4.624-4.126-7.26-5.72-2.612-1.58-5.458-2.794-8.36-3.74-3.35-1.092-6.823-1.981-10.34-2.2-2.571-.16-5.162.22-7.7.66-2.84.492-5.602 1.366-8.36 2.2-2.82.852-5.657 1.69-8.36 2.86-2.59 1.12-5.062 2.507-7.48 3.96-2.353 1.414-4.601 3.002-6.82 4.62-2.785 2.031-5.684 3.961-8.14 6.38-2.232 2.198-3.195 3.986-4.84 5.94-1.44 1.71-2.985 3.33-4.4 5.06-1.523 1.862-4.4 5.72-4.4 5.72z" fill="#ccc" fill-rule="evenodd"/>
                        <path d="M393.14 171.93s3.464-7.215 5.28-10.78c1.92-3.77 3.568-7.715 5.94-11.22 3.179-4.697 6.933-9.027 11-12.98 3.03-2.946 6.31-5.69 9.9-7.92 3.094-1.921 6.448-3.459 9.9-4.62 3.626-1.22 7.397-2.26 11.22-2.42 4.58-.193 9.152.824 13.64 1.76 4.112.858 8.216 1.921 12.1 3.52 3.55 1.461 6.928 3.367 10.12 5.5 3.295 2.202 6.295 4.829 9.24 7.48 1.85 1.665 3.567 3.474 5.28 5.28.679.716 1.98 2.2 1.98 2.2l-7.48 14.52M484.66 177.21s-3.679 4.524-5.72 6.6c-2.003 2.037-4.215 3.857-6.38 5.72-1.658 1.427-3.243 2.96-5.06 4.18-1.934 1.298-3.98 2.48-6.16 3.3a22.655 22.655 0 0 1-5.72 1.32c-12.12 1.196-24.359-.45-36.52-1.1-1.91-.102-3.83-.144-5.72-.44-1.564-.245-4.62-1.1-4.62-1.1" fill="none" stroke="#000"/>
                        <path d="M427.68 128.37c-1.66 1.156-3.027 2.738-4.18 4.4-1.72 2.48-2.856 5.332-3.96 8.14-1.655 4.21-3.054 8.548-3.96 12.98-.96 4.697-1.749 9.51-1.54 14.3.215 4.928 1.476 9.785 2.86 14.52 1.238 4.235 2.126 8.841 4.84 12.32.776.995 1.822 2.105 3.08 2.2 6.197.47 12.226 1.542 17.38.88 1.836-.236 3.338-1.745 4.62-3.08 2.44-2.54 4.12-5.78 5.5-9.02 1.576-3.698 2.319-7.713 3.08-11.66 1.021-5.296 1.918-10.666 1.98-16.06.042-3.685-.484-7.367-1.1-11-.68-4.016-1.062-8.225-2.86-11.88-1.496-3.042-3.654-5.905-6.38-7.92-1.905-1.409-4.264-2.243-6.6-2.64-1.664-.283-3.414-.155-5.06.22-2.723.62-5.408 1.705-7.7 3.3z" fill="#1a1a1a" fill-rule="evenodd"/>
                        <ellipse ry="17.82" rx="4.73" cy="163.13" cx="435.49"/>
                        <ellipse ry="5.06" rx="4.73" cy="140.25" cx="446.05" fill="#fff"/>
                        <path d="M425.48 165.11c-.423-.512-1.98.22-1.98.22s-1.844 2.8-2.2 4.4c-.622 2.793-.135 5.741.22 8.58.411 3.283.854 6.657 2.2 9.68.62 1.394 1.564 2.658 2.64 3.74.89.895 1.944 1.652 3.08 2.2 1.443.696 3.022 1.216 4.62 1.32 1.48.096 3.01-.14 4.4-.66 1.791-.67 3.496-1.72 4.84-3.08 1.273-1.289 2.07-2.99 2.86-4.62.75-1.545 1.27-3.194 1.76-4.84.644-2.165 1.384-4.346 1.54-6.6.112-1.616.021-3.287-.44-4.84-.402-1.352-1.98-3.74-1.98-3.74s-1.431-.835-1.98-.44c-1.137.818-.196 2.8-.44 4.18-.421 2.382-.92 4.771-1.76 7.04-.683 1.846-1.235 3.902-2.64 5.28-1.218 1.194-2.956 1.824-4.62 2.2-1.288.29-2.706.41-3.96 0-1.296-.424-2.35-1.44-3.3-2.42-.991-1.022-1.852-2.214-2.42-3.52-.81-1.86-1.057-3.929-1.32-5.94-.229-1.747-.505-3.542-.22-5.28.166-1.008 1.736-2.092 1.1-2.86z" fill="#999" fill-rule="evenodd"/>
                    </g>
                </g>
                <ellipse id="left_cheek" cx="91.701" cy="121.893" rx="10.882" ry="3.828" fill="#faa" stroke-width=".878" stroke-linecap="square" stroke-dashoffset="60"/>
                <path id="mouth" d="M125.04 124.18s-.482 1.873-.452 2.826c.048 1.543.702 3.008 1.017 4.52.367 1.764.398 3.617 1.016 5.31.608 1.663 1.407 3.324 2.6 4.633.893.98 2.134 1.585 3.276 2.26.653.385 1.277 1.055 2.034 1.017.845-.042 1.55-.756 2.147-1.356.752-.756 1.327-1.712 1.695-2.712.447-1.215.403-2.558.565-3.842.18-1.428.283-2.864.452-4.294.204-1.735.53-3.456.678-5.197.08-.94.113-2.825.113-2.825" fill="#ff8080" fill-rule="evenodd"/>
                <path id="lips" d="M119.616 119.661s-.592 1.615-.34 2.373c.237.707.94 1.204 1.583 1.582.472.278 1.04.363 1.582.452.818.133 1.661.203 2.486.113 1.008-.11 1.978-.464 2.937-.791.927-.316 1.899-.585 2.712-1.13.753-.504 1.921-1.921 1.921-1.921s1.402 1.43 2.26 1.92c.692.398 1.505.534 2.26.792.789.27 1.547.678 2.373.79.747.103 1.518.027 2.26-.112.468-.088.967-.177 1.356-.452.7-.496 1.582-2.034 1.582-2.034" fill="none"/>
                <ellipse id="right_cheek" cx="159.348" cy="119.096" rx="9.377" ry="3.021" fill="#faa" stroke-width=".961" stroke-linecap="square" stroke-dashoffset="60"/>
                <ellipse id="crystal" cx="127.607" cy="84.068" rx="9.475" ry="11.509" fill="#ff8080" stroke-width="2" stroke-linecap="square" stroke-dashoffset="60"/>
            </g>
        </g>
        </g>

    </svg>
    <div class="phrases"></div>
    <input type="button" value="Заново" class="restart">
    <input type="button" value="Кормить" class="feed">
    <input type="button" value="Спать" class="sleep">
    <input type="button" value="Говорить" class="speak">
    <script src="index.js"></script>
</body>
</html>
