<!DOCTYPE html>
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{page.title}}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg.js"></script>

    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="menu">
        <p>
            К сожалению, попав в руки великого художника(меня), Хрюндель не поверил своему счастью и его сердце не выдержало.
            Пришлось заменить его Моконой. Ох уж этот суровый мир искусства...
        </p>
        <div class="menu__wrapper"></div>
        <div class="menu__support">
            <h4>Browser support</h4>
            <ul class="support">
                <li class="support__speech">
                    Speech Recognition: <span class="support__detected support__detected_off">off</span>
                </li>
                <li class="support__light">
                    Ambient Light: <span class="support__detected support__detected_off">off</span>
                </li>
                <li class="support__battery">
                    Battery Status: <span class="support__detected support__detected_off">off</span>
                </li>
                <li class="support__visibility">
                    Page Visibility: <span class="support__detected support__detected_off">off</span>
                </li>
                <li class="support__notification">
                    Web Notifications: <span class="support__detected support__detected_off">off</span>
                </li>
            </ul>
        </div>
        <div class="menu__buttons">
            <div>
                <input type="button" value="Заново" class="menu__buttons__restart">
                <input type="button" value="Смерть" class="menu__buttons__death">
            </div>
            <div>
                <input type="button" value="Кормить" class="menu__buttons__feed">
                <input type="button" value="Спать" class="menu__buttons__sleep">
                <input type="button" value="Говорить" class="menu__buttons__speak">
            </div>
        </div>
        <div class="menu__sounds">
            <audio class="player"></audio>
            <div class="volume">
                <span>Громкость</span>
                <input class="volume__control" id="range" type="range" min="0" max="100" value="30">
                <label class="volume__display" for="range">30</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hrunogochi">
            <svg id="mokona_svg" viewBox="0 0 223.40793 184.97021"></svg>
        </div>
        <div class="phrases"></div>
    </div>

    <script src="index.js"></script>
</body>
</html>
